
@{
    ViewData["Title"] = "Login";
}

<style>
    body, html {
        height: 100%;
    }

    .login-page {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-form {
        width: 300px;
        background: linear-gradient(to bottom, red, black);
        padding: 20px;
        border-radius: 5px;
    }

    .login-form h2 {
        color: #fff;
        font-weight:bold;
        margin-bottom: 30px;
    }
    .form-group {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

    .form-group label {
            color: #fff;
        font-size: 10px;
        font-weight: bold;
        margin-left: 10px;
        text-align: left;
        width: 80px;
    }

    .form-group input {
        flex-grow: 1;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #e5e5e5;
        font-size: 16px;
    }

    .login-form button {
        background-color: black;
        color: #FFFFFF;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
    }


</style>
<div class="login-page">
    <div class="login-form">
        <h2>Login</h2>
        <div class="form-group">
            <input type="text" name="name" id="name" />
            <label for="name">Username</label>
        </div>
        <div class="form-group">
            <input type="email" name="emailaddress" id="emailaddress" />
            <label for="emailaddress">Email</label>
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password" />
            <label for="password">Password</label>
        </div>
        <button type="submit">Log In</button>
    </div>
</div>



