
@{
    ViewData["Title"] = "Register";
}

<style>
    body, html {
        height: 100%;
    }

    .login-page {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-form {
        width: 300px;
        background: black;
        padding: 20px;
        border-radius: 20px;
    }

        .login-form h2 {
            color: #fff;
            font-weight: bold;
            margin-bottom: 30px;
        }

    .form-group {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

        .form-group label {
            color: #fff;
            font-size: 10px;
            font-weight: bold;
            margin-left: 10px;
            text-align: left;
            width: 80px;
        }

        .form-group input {
            flex-grow: 1;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #e5e5e5;
            font-size: 16px;
        }

    .login-form .login-btn {
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        background: red;
        transition: 0.3s;
        padding: 9px 15px;
    }

    .login-form .login-btn {
        text-decoration: none;
        color: #fff;
    }

        .login-form .login-btn:hover {
            cursor: pointer;
            text-decoration: none;
            background: #fff;
            color: #000;
        }

</style>
<div class="login-page">
    <div class="login-form">
        <h2>Register</h2>
        <div class="form-group">
            <input type="text" name="name" id="name" />
            <label for="name">Username</label>
        </div>
        <div class="form-group">
            <input type="email" name="emailaddress" id="emailaddress" />
            <label for="emailaddress">Email</label>
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password" />
            <label for="password">Password</label>
        </div>
        <a href="#" class="login-btn">Sign-up</a>
    </div>
</div>





