
@{
    ViewData["Title"] = "ElementView";
}
<style>
    .element {
        color: #fff;
        float: left;
        padding: 30px 10px 30px 10px;
        background: #000;
        border-radius: 5px;
    }
    ul{
        list-style-type: none;
    }
    .element .element-tittle{
        font-weight: bold;
    }
    .element p {
        font-size: 13px;

    }
    .element .img{
        width: 330px;
        height: 480px;
    }
    .element .element-price {
        text-align: center;
        border-radius: 5px;
        background: #111;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .element .element-price span {
        font-size: 30px;
    }
    .element .element-price a {
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        background: red;
        transition: 0.3s;
        padding: 9px 15px;
    }

    .element .element-price a {
        text-decoration: none;
        color: #fff;
    }

    .element .element-price a:hover {
        cursor: pointer;
        text-decoration: none;
        background: #fff;
        color: #000;
    }

</style>
<div class="container">
    <div class="element">
        <div class="col-xs-4 col-lg-5">
            <div class="img" style="background:cyan;"></div> @*img tag*@
        </div>
        <div class="col-xs-5">
            <h1 class="element-tittle">
                BookTitle
            </h1>
            <ul class="attribute-list">
                <li>Genre: <span>None</span></li>
                <li>Creator: <span>None</span></li>
                <li>Amount: <span>None</span></li>
                <li>Published by: <span>None</span></li>
            </ul>
            <br />
            <p class="item-description">
                "The Peach Thief" is a novel by Bulgarian author Emilian Stanev, first published in 1964. The story is set in a small Bulgarian village during the 1930s and follows the life of a young boy named Bai Dancho.

                Bai Dancho is known for stealing peaches from the orchards of the local landowner, who is also the boy's father's employer. The theft of peaches is seen as a symbolic act of rebellion against the oppression and inequality that the villagers experience under the rule of the wealthy landowner.

                As the story progresses, Bai Dancho grows up and becomes involved in the struggles and conflicts of the village community. He becomes a key figure in the fight for justice and equality, standing up against the oppressive landowner and the corrupt local authorities.

                Through the character of Bai Dancho, Stanev explores themes of social injustice, poverty, and the struggle for freedom and dignity. The novel has been widely regarded as a masterpiece of Bulgarian literature and has been translated into multiple languages.
            </p>
        </div>
        <div class="element-price col-xs-3 col-lg-2">
            <span>0.00LV</span>
            <a>Danger</a>
        </div>
    </div>
</div>

