@model WebApplication7.Models.Book;
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post" asp-action="Create">
                <div class="border p-3">

                    <div class="form-group row">
                        <h2 class="text-info pl-3">Add Book</h2>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="Title"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="Title" class="form-control">
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="Author"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="Author" class="form-control">
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="Genre"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="Genre" class="form-control">
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="Price"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="Price" class="form-control">
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="YearOfPublication"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="YearOfPublication" class="form-control">
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="Quantity"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="Quantity" class="form-control">
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="Description"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="Description" class="form-control">
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="Image"></label>
                                </div>
                                <div class="col-8">
                                    <input type="file" asp-for="Image" class="form-control">
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-8 offset-4 row">

                                    <div class="col">
                                        <input type="submit" class="btn btn-info w-100" value="Create">
                                    </div>
                                    <div class="col">
                                        <a asp-action="Index" class="btn btn-success w-100">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            @* Keep this empty *@
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    
</div>
