@model IEnumerable<WebApplication7.Models.Book>

    @* <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller ="Category" asp-action="Create" class="btn btn-primary">
            Create New Category
            </a>
        </div>
    </div>
    <br><br> *@

  @*  @if (Model.Count() > 0)
    {*@
    <style>
        .main-books {
            margin: 0 auto;
            width: max-content;
            display: grid;
            grid-template-columns: auto auto auto auto;
            column-gap: 10px;
            column-gap: 20px;
            row-gap: 10px;
        }
        .main-books .description {
            padding-top: 16px;
        }
        .main-books .description .element-price {
            font-weight: bold;
            font-size: 30px;
            float: right;
        }
        .main-books a {
            width: max-content;
            height: max-content;
        }

        .main-books, a:hover,
        .main-books, a:visited,
        .main-books, a:active,
        .main-books, a:link {
            text-decoration: none;
            color: #fff;
        }

        .main-books article {
            float: left;
            box-sizing: border-box;
            padding: 10px;
            background: #181818;
            border-radius: calc(var(--card-container-border-radius) + 2px);
            position: relative;
            transition: background-color .3s ease;
            width: max-content;
            transition: 0.2s;
        }

        .main-books article:hover{
            transform: scale(1.03);
        }

        .main-books.article:nth-child(4n+1) {
            clear: left;
        }
        .main-books article .img {
            margin: 0 auto;
            background-color: cyan;
            height: 290px;
            width: 200px;
            position: relative;
        }

        .main-books article p {
            max-width: 200px;
            margin-bottom: 10px;
        }
    </style>
    
    <div class="container main-article">
        <div class="main-books">
        <a asp-area="" asp-controller="ElementViewBooks" asp-action="Index">
            <article>
                <div class="img"></div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <span class="element-price">0.00LV</span>
                </div>
            </article>
        </a>
         <a asp-area="" asp-controller="ElementViewBooks" asp-action="Index">
            <article>
                    <div class="img"></div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <span class="element-price">0.00LV</span>
                    </div>
                </article>
            </a>
        <a asp-area="" asp-controller="ElementViewBooks" asp-action="Index">
            <article>
                    <div class="img"></div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <span class="element-price">0.00LV</span>
                    </div>
                </article>
            </a>
        <a asp-area="" asp-controller="ElementViewBooks" asp-action="Index">
            <article>
                    <div class="img"></div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <span class="element-price">0.00LV</span>
                    </div>
                </article>
            </a>
        <a asp-area="" asp-controller="ElementViewBooks" asp-action="Index">
            <article>
                    <div class="img"></div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <span class="element-price">0.00LV</span>
                    </div>
                </article>
            </a>
        <a asp-area="" asp-controller="ElementViewBooks" asp-action="Index">
            <article>
                    <div class="img"></div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <span class="element-price">0.00LV</span>
                    </div>
                </article>
            </a>
        <a asp-area="" asp-controller="ElementViewBooks" asp-action="Index">
            <article>
                    <div class="img"></div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <span class="element-price">0.00LV</span>
                    </div>
                </article>
            </a>
        <a asp-area="" asp-controller="ElementViewBooks" asp-action="Index">
            <article>
                    <div class="img"></div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <span class="element-price">0.00LV</span>
                    </div>
                </article>
            </a>
        <a asp-area="" asp-controller="ElementViewBooks" asp-action="Index">
            <article>
                    <div class="img"></div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <span class="element-price">0.00LV</span>
                    </div>
                </article>
            </a>
        <a asp-area="" asp-controller="ElementViewBooks" asp-action="Index">
            <article>
                    <div class="img"></div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <span class="element-price">0.00LV</span>
                    </div>
                </article>
            </a>
        <a asp-area="" asp-controller="ElementViewBooks" asp-action="Index">
            <article>
                    <div class="img"></div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <span class="element-price">0.00LV</span>
                    </div>
                </article>
            </a>
        <a asp-area="" asp-controller="ElementViewBooks" asp-action="Index">
            <article>
                    <div class="img"></div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <span class="element-price">0.00LV</span>
                    </div>
                </article>
            </a>
        </div>
        @* <table class="table table-bordered  table-striped" style="width:100%"> 
            <thead>
                <tr>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Display Order   
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="50%">@obj.Name</td>
                        <td width="30%">@obj.DisplayOrder</td>  
                        <td></td> 
                    </tr>   
                }
            </tbody>
        </table>    *@
    }
    else
    {
        <p>No Category exists.</p>
    }
</div>


        @* <table class="table table-bordered  table-striped" style="width:100%"> 
            <thead>
                <tr>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Display Order   
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="50%">@obj.Name</td>
                        <td width="30%">@obj.DisplayOrder</td>  
                        <td></td> 
                    </tr>   
                }
            </tbody>
        </table>    *@
    @*}
    else
    {
        <p>No Category exists.</p>
    }*@

